@charset "UTF-8";
@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono.ttf") format("truetype");
}
:root {
  --primary-color: $primary-color;
  --secondary-color: $secondary-color;
  --white: $white;
  --gray: $gray;
  --primary-background: rgba($primary-color, 0.32);
  --secondary-background: rgba($secondary-color, 0.32);
}

* {
  transition: 0.5s ease;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
}

html {
  background: linear-gradient(180deg, #6614D1 0%, #CC208E 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

input[type=text], input[type=date], input[type=number], input[type=password], input[type=email], select {
  height: 3rem;
  width: 70%;
  border-radius: 15px;
  background-color: #D9D9D9;
  border: none;
  margin: 5px auto;
  padding: 0 1rem;
  color: #17042F;
  font-family: "Roboto Mono", sans-serif;
}

button, input[type=submit], input[type=button] {
  border-radius: 15px;
  background-color: #CC208E;
  border: none;
  box-shadow: 0px 4px 4px 0 rgba(23, 4, 47, 0.49);
  color: #FCE9F5;
  padding: 0.5rem 2rem;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  font-family: "Roboto Mono", sans-serif;
  margin: 10px auto;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
  cursor: pointer;
}

#warning {
  display: none;
  font-size: 1rem;
  color: red;
}

#warningHover:hover #warning {
  display: inline;
}

#importantButton {
  background-color: #6614D1;
  color: #FCE9F5;
  width: 30%;
  height: 50px;
  margin: 0 35%;
  margin-bottom: 20px;
}

#screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(23, 4, 47, 0.5);
  display: none;
}

#formContainer {
  position: fixed;
  top: 5vh;
  width: 32vw;
  left: 34vw;
  background: #FCE9F5;
  border-radius: 20px;
  box-shadow: 0px 4px 50px 5px rgba(23, 4, 47, 0.49);
  display: none;
  overflow: auto;
  max-height: 90vh;
}
#formContainer h4 {
  background: #CC208E;
  color: #FCE9F5;
  margin: 0;
  padding: 2rem;
  text-align: center;
  border-radius: 20px 20px 0 0;
}
#formContainer form {
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  display: none;
}
#formContainer form input[type=text], #formContainer form input[type=date], #formContainer form input[type=number], #formContainer form select, #formContainer form input[type=password], #formContainer form input[type=email] {
  box-shadow: 0px 4px 4px 0 rgba(23, 4, 47, 0.49);
}

#nav {
  background: #17042F;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  border-radius: 0 40px 40px 0;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  color: #FCE9F5;
}
#nav #profile {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 4rem;
  text-align: center;
}
#nav #profile img {
  width: 70px;
  border-radius: 50%;
  margin-bottom: 1rem;
  grid-row: 1/3;
}
#nav #noticed {
  margin-left: 4rem;
}
#nav #noticed h5 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
#nav #noticed li {
  list-style: none;
  margin-bottom: 0.5rem;
}
#nav #noticed ul {
  padding-left: 0;
}
#nav #profileName {
  font-size: 1.5rem;
  font-weight: 700;
}

#queryResult {
  position: fixed;
  display: none;
  bottom: 5vh;
  width: 50vw;
  background: #FCE9F5;
  border-radius: 20px;
  box-shadow: 0px 4px 50px 5px rgba(23, 4, 47, 0.49);
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow-y: overlay;
}
#queryResult .liRes {
  background: #CC208E;
  color: #FCE9F5;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.more {
  color: #888;
  font-style: italic;
}
.more:hover {
  cursor: pointer;
  text-decoration: underline;
}

#article {
  background: #FCE9F5;
  padding: 2rem;
  width: 90%;
  margin: 3vh auto;
  border-radius: 40px;
  box-shadow: 0px 4px 50px 5px rgba(23, 4, 47, 0.49);
}
#article #path {
  font-size: 0.8rem;
  margin-left: 2rem;
}
#article h1 {
  font-size: 2.5rem;
  color: #6614D1;
  text-align: center;
  font-weight: bolder;
}
#article #content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
#article #content h2 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #CC208E;
  margin-bottom: 1rem;
  font-weight: bolder;
  text-align: center;
}
#article #content ol {
  margin: 10px 30px;
}
#article #content ol li {
  margin-bottom: 1rem;
  font-size: 1rem;
}
#article #content ol li:first-child {
  color: #FFD700;
  text-shadow: 0px 1px 1px #17042F, 0px -1px 1px #17042F, 1px 0px 1px #17042F, -1px 0px 1px #17042F;
  font-weight: bold;
}
#article #content ol li:nth-child(2) {
  color: #888;
  font-weight: bold;
}
#article #content ol li:nth-child(3) {
  color: #CD7F32;
  font-weight: bold;
}
#article #content #pushbutton > div, #article #content #list > div, #article #content #share, #article #content #xplore {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
}
#article #content #list > div {
  align-items: flex-start;
}
#article #content #xplore table {
  margin-top: 3rem;
  border-collapse: collapse;
  border: 0;
  width: 80%;
  text-align: left;
}
#article #content #xplore table td, #article #content #xplore table th {
  border: 0;
  padding: 0.5rem;
}
#article #content #list .selectable {
  width: 60%;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(23, 4, 47, 0.49);
  padding: 0.5rem 3rem;
}
#article #content #list .selectable p {
  margin: 0.5rem;
}
#article #content #list .selectable h3 {
  margin: 0.5rem;
  font-weight: bold;
}
#article #content #list .selectable:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(23, 4, 47, 0.49), 0px 0px 0px 2px #6614D1;
}
#article #content #list .battle {
  background: rgba(204, 32, 142, 0.32);
}
#article #content #list .battle h3 {
  color: #CC208E;
}
#article #content #list .tournament {
  background: rgba(102, 20, 209, 0.32);
}
#article #content #list .tournament h3 {
  color: #6614D1;
}
#article #content #list .inactive {
  background: rgba(136, 136, 136, 0.32);
}
#article #content #list .inactive h3 {
  color: #888;
}
#article #content #list battleID {
  display: none;
}
#article #content #toBeReviewed, #article #content #codeToReview {
  grid-column: 1/3;
}
#article #content #toBeReviewed table, #article #content #codeToReview table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 0;
  width: 80%;
  border-bottom: 1px solid #CC208E;
}
#article #content #toBeReviewed table td, #article #content #codeToReview table td {
  border-left: 1px solid #CC208E;
  border-right: 1px solid #CC208E;
}
#article #content #toBeReviewed table th, #article #content #toBeReviewed table td, #article #content #codeToReview table th, #article #content #codeToReview table td {
  padding: 0.5rem;
}
#article #content #toBeReviewed table th, #article #content #toBeReviewed table td:nth-child(1), #article #content #toBeReviewed table td:nth-child(3), #article #content #codeToReview table th, #article #content #codeToReview table td:nth-child(1), #article #content #codeToReview table td:nth-child(3) {
  text-align: center;
}
#article #content #toBeReviewed table th, #article #content #codeToReview table th {
  font-weight: bold;
  font-size: 1.2rem;
  color: #FCE9F5;
  background: #CC208E;
}
#article #content #toBeReviewed table th:first-child, #article #content #codeToReview table th:first-child {
  border-radius: 20px 0 0 0;
}
#article #content #toBeReviewed table th:last-child, #article #content #codeToReview table th:last-child {
  border-radius: 0 20px 0 0;
}
#article #content #toBeReviewed table tr:nth-child(odd), #article #content #codeToReview table tr:nth-child(odd) {
  background-color: #FCE9F5;
}
#article #content #toBeReviewed table tr:nth-child(even), #article #content #codeToReview table tr:nth-child(even) {
  background-color: rgba(204, 32, 142, 0.32);
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
input[type=radio], input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #D9D9D9;
  border: none;
  color: #FCE9F5;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(23, 4, 47, 0.49);
}

input[type=radio]:hover, input[type=checkbox]:hover {
  background: #D9D9D9;
}

input[type=radio]:checked, input[type=checkbox]:checked {
  background: #CC208E;
}

input[type=radio]:checked::before, input[type=checkbox]:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}

input[type=radio]:checked::after, input[type=checkbox]:checked::after {
  animation: click-wave 0.65s;
  background: #CC208E;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

input[type=checkbox] + label {
  position: relative;
  bottom: 16px;
}/*# sourceMappingURL=style.css.map */